@font-face {
  font-family: 'als_rublregular';
  src: url("../fonts/rouble/rouble-webfont.eot");
  src: url("../fonts/rouble/rouble-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rouble/rouble-webfont.woff2") format("woff2"), url("../fonts/rouble/rouble-webfont.woff") format("woff"), url("../fonts/rouble/rouble-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
