@media only screen and (max-width: 1260px) {
  .blocks {
    float: left;
    width: 750px;
  }
}
@media only screen and (max-width: 1005px) {
  .blocks {
    float: left;
    width: 505px;
  }
}
@media only screen and (max-width: 765px) {
  .blocks {
    width: 400px;
  }
  .blocks .catalog__product-item {
    width: 85%;
  }
  .blocks .catalog__item-amount {
    width: 72%;
    float: right;
  }
  .blocks .catalog__item-image-block {
    margin: 0 auto;
  }
  .blocks .card-price-block {
    width: 100%;
    float: right;
  }
  .blocks .card-price-ammount-block {
    width: 40%;
  }
  .blocks .card-price-span-block {
    width: 60%;
  }
}
@media only screen and (max-width: 690px) {
  .left__block {
    display: none;
  }

  .blocks {
    width: 100%;
  }
  .blocks .catalog__product-item {
    display: block;
    float: none;
    width: 75%;
    margin: 0 auto 19px;
    padding-bottom: 25px;
  }
  .blocks .catalog__item-amount {
    width: 210px;
    float: right;
  }
  .blocks .catalog__item-compaire {
    float: none;
    display: block;
    text-align: left;
  }
  .blocks .card-price-block {
    width: 100%;
    float: right;
  }
  .blocks .card-price-span-block {
    width: 70%;
  }
  .blocks .card-price-ammount-block {
    width: 30%;
  }
  .blocks .card-price-span-block {
    width: 70%;
  }
}
@media only screen and (max-width: 575px) {
  .blocks .catalog__item-compaire {
    display: block;
    text-align: right;
    float: none;
  }
  .blocks .card-price-ammount-block {
    width: 35%;
  }
  .blocks .card-price-span-block {
    width: 65%;
  }
}
@media only screen and (max-width: 490px) {
  .blocks .card-price-span-block {
    width: 60%;
  }
  .blocks .card-price-ammount-block {
    width: 40%;
  }
}
@media only screen and (max-width: 440px) {
  .blocks .card-price-span-block {
    width: 50%;
  }
  .blocks .card-price-ammount-block {
    width: 50%;
  }
}
@media only screen and (max-width: 400px) {
  .blocks .card-price-span-block {
    width: 40%;
  }
  .blocks .card-price-ammount-block {
    width: 60%;
  }
}
@media only screen and (max-width: 1265px) {
  .rows {
    width: 800px;
  }
  .rows .catalog__item-title {
    width: 280px;
  }
}
@media only screen and (max-width: 1065px) {
  .rows {
    width: 565px;
  }
  .rows .special__conditions-block {
    display: none;
  }
  .rows .link-title {
    margin: 0;
    height: auto;
  }
  .rows .catalog__item-title {
    height: auto;
    float: right;
  }
  .rows .catalog__item-price {
    height: auto;
  }
  .rows .catalog__product-item {
    width: 560px;
  }
  .rows .catalog__item-title {
    margin: 0;
    text-align: right;
  }
  .rows .time {
    left: 42%;
  }
  .rows .item {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 865px) {
  .rows {
    width: 470px;
  }
  .rows .catalog__product-item {
    width: 280px;
  }
  .rows .catalog__item-image-block {
    width: 100%;
  }
}
@media only screen and (max-width: 865px) {
  .rows {
    width: 410px;
  }
}
@media only screen and (max-width: 690px) {
  .rows {
    width: 100%;
    text-align: center;
  }
  .rows .catalog__product-item {
    width: 55%;
    margin: 0 auto;
    margin-bottom: 19px;
  }
}
