svg
	symbol(id="rouble_ligth")
		path(d="M15.89,15.93a3.9,3.9,0,0,0,2.93-.88,3.26,3.26,0,0,0,.51-3.52,2.44,2.44,0,0,0-.8-1,3,3,0,0,0-1.23-.47,9.14,9.14,0,0,0-1.52-.1H12v4.75H10.88v1.18H12v1.22H10.88v1.18H12V20h1.32V18.34h4.1V17.16h-4.1V15.93h2.56Zm-2.56-4.75h2.56a5.63,5.63,0,0,1,1.23.09,1.48,1.48,0,0,1,.84.59,1.81,1.81,0,0,1,.32,1.07,1.7,1.7,0,0,1-.54,1.34,2.74,2.74,0,0,1-1.82.48H13.32V11.18Z" transform="translate(-10.88 -10)")
	symbol(id="rouble_bold")
		path(d="M49.08,11.13a2.62,2.62,0,0,0-1.44-1,11.72,11.72,0,0,0-2.4-.15H42v4.53H40.63v1.7H42v0.93H40.63v1.7H42V20h2V18.85h3v-1.7H44V16.23h1.32a11.52,11.52,0,0,0,2.09-.14,2.94,2.94,0,0,0,1-.47,2.75,2.75,0,0,0,.85-1,3.26,3.26,0,0,0,.33-1.55A3.11,3.11,0,0,0,49.08,11.13Zm-1.73,2.75a1.32,1.32,0,0,1-.63.49,5.23,5.23,0,0,1-1.6.16H44V11.69h1a9.66,9.66,0,0,1,1.45.07,1.4,1.4,0,0,1,.81.44,1.29,1.29,0,0,1,.32.9A1.34,1.34,0,0,1,47.35,13.88Z" transform="translate(-10.88 -10)")
	symbol(id="rouble_b")
		svg(version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve")
	path(fill="#010101" d="M44.431,6.112c-1.719-2.395-4.211-4.125-7.055-4.899c-3.884-0.647-7.824-0.894-11.759-0.735H9.743v22.194H3.031v8.329h6.712v4.556H3.031v8.329h6.712v5.683h9.799v-5.634h14.698v-8.329H19.542v-4.507h6.467c3.427,0.083,6.854-0.147,10.24-0.686c1.764-0.451,3.427-1.232,4.899-2.303c1.763-1.273,3.192-2.954,4.165-4.899c1.155-2.36,1.711-4.968,1.617-7.594C47.17,12.259,46.291,8.917,44.431,6.112z M35.955,19.585c-0.757,1.1-1.835,1.938-3.087,2.401c-2.557,0.664-5.201,0.928-7.839,0.784h-5.487V8.855h4.899c2.373-0.064,4.748,0.051,7.104,0.343c1.528,0.25,2.927,1.01,3.969,2.156c1.068,1.215,1.629,2.793,1.568,4.409C37.112,17.123,36.718,18.459,35.955,19.585L35.955,19.585z")