doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name='viewport' content='width=device-width')
		title
			block title
		link(rel="stylesheet" href="css/style.css")
		link(rel="stylesheet" href="css/sprite.css")
		link(rel="stylesheet" href="css/media.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet" href="../bower_components/normalize-css/normalize.css")
	body
		.container

			.header-test
			.left__block
			div(class="right__block blocks")
				- for(var i =1; i < 13; i++)
					.catalog__product-item
						label.time
						.avalability_and_number
							.number
								span.number-span
									| Код: 141660
							.availability
								a(href="#" alt="#").availability-link
									| В наличичии
						.catalog__item-image-block
							a(href="#" class="img-link")
								label.new
								label.petro
								img(src="images/laminat1.jpg", alt="item").catalog__item-image
						.catalog__item-title
							.number-row
								span.number-span
									| Код: 141660
							div.link-title
								a(href="#" alt="#").item-title-link
									| Ламинат 32 кл Classen Adventure Дуб Аляска 2,058 кв.м. 8 мм
							.special__conditions-block
								.special_conditions
									p.specials
										| Особые условия
									.special-conditions-list
										.special__items
											i(class="sprite sprite-car ic")
											i(class="sprite sprite-car ic")

								.additional_conditions
									p.specials
										| Возможные услуги
									.additional-conditions-list
										.special__items
											i(class="sprite sprite-saw ic")
											i(class="sprite sprite-saw ic")


						//- Блок для строчного вида
						.row-block
							.availability
								a(href="#" alt="#").availability-link
									| В наличичии
							.catalog__item-price
								.card-price-block
									.card-price-span-block
										span.card-price-span
											| По карте клуба
									.card-price-ammount-block
										span.card-price-ammount
											| 1 776
											include ../_svg/_rouble_b
									.full-price-block
										.full-price-span-block
											span.full-price-span
												| 1 849
												include ../_svg/_rouble_g
									.item За единицу
							.catalog__item-amount
								.item-amount
									.ammount-step-block
										input(type="text" class="ammount-step" name="ammount-step" value="1")
									.ammount-step-change-block
										.ammount-step-plus
											a(href="#" class="ammount-link")
												i(class="sprite sprite-aarow-up2")
										.ammount-step-minus
											a(href="#" class="ammount-link")
												i(class="sprite sprite-arrow-down2")
								a(href="#").basket-button-link
									.basket-button
										i(class="sprite sprite-cart")
										span(href="#" alt="#" class="basket-button-span")
											| В КОРЗИНУ	
							.catalog__item-compaire
								a(href="#").compaire-link
									span.compaire-span 
										| Добавить к сравнению
									i(class="sprite sprite-plus")


						//- Блок для блочного вида
						.block-block
							.catalog__item-price
								.card-price-block
									.card-price-span-block
										span.card-price-span
											| По карте клуба
									.card-price-ammount-block
										span.card-price-ammount
											| 1 776
											include ../_svg/_rouble_b
									.full-price-block
										.full-price-span-block
											span.full-price-span
												| 1 849
												include ../_svg/_rouble_g
								.item За единицу
							.catalog__item-amount
								.item-amount
									.ammount-step-block
										input(type="text" class="ammount-step" name="ammount-step" value="1")
									.ammount-step-change-block
										.ammount-step-plus
											a(href="#" class="ammount-link")
												i(class="sprite sprite-aarow-up2")
										.ammount-step-minus
											a(href="#" class="ammount-link")
												i(class="sprite sprite-arrow-down2")
								a(href="#").basket-button-link
									.basket-button
										i(class="sprite sprite-cart")
										span(href="#" alt="#" class="basket-button-span")
											| В КОРЗИНУ
							.catalog__item-compaire
								a(href="#").compaire-link
									span.compaire-span 
										| Добавить к сравнению
									i(class="sprite sprite-plus")
		script(src="../bower_components/jquery/dist/jquery.min.js")
		script(src="js/userAgent.js")




					

