/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/Open-Sans/Open-Sans-Extrabold.eot");
    src: url("../fonts/Open-Sans/Open-Sans-Extrabold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Open-Sans/Open-Sans-Extrabold.woff") format("woff"),
    url("../fonts/Open-Sans/Open-Sans-Extrabold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}