.container{
	width:100%;
	max-width:1240px;
	margin:0 auto;
	font-family:Arial;
}

p{
	margin:0;
	padding:0;
}

.one-item-akcii{
	height:240px;
	width:100%;
	border:1px solid #ff9900;
	min-width:675px;

}

.one-item-akcii .akcii-info{
	display:inline-block;
	width:250px;
	height:100%;
	float:left;
}

.one-item-akcii .akcii-info-top{
	height:100px;
	padding:35px 15px 10px;
	box-sizing:border-box;
}

.one-item-akcii .akcii-info-bottom{
	height:140px;
	background:url(../images/orange-bg.png)no-repeat;
	background-size: 100%;
	background-position: bottom;
	padding:80px 10px 10px 55px;
	box-sizing:border-box;
	position:relative;
}

.one-item-akcii .present-pic{
	position:absolute;
	top:17px;
	right:50px;
}

.one-item-akcii .akcii-photo{
	display:inline-block;
	height:240px;
	width:240px;
	float:left;
	line-height:240px;
	text-align:center;
}

.one-item-akcii .main-akcii-info{
	display:inline-block;
	height:100%;
	width:490px;
	float:left;
	padding:10px 15px 25px;
	box-sizing:border-box;
}

.one-item-akcii .akcii-main-price{
	display:inline-block;
	height:100%;
	width:250px;	
	float:right;
	padding:10px;
	box-sizing:border-box;
}

.one-item-akcii .you-buy{
	text-align:left;
	font-size:20px;
	margin:0;
	width:70%;
	margin:0 auto;
	text-transform:uppercase;
	line-height:0.8;

}

.one-item-akcii .you-get{
	text-align:right;
	color:#ff9900;
	margin:0;
	font-size:20px;
	width:70%;
	margin:0 auto;
	text-transform:uppercase;
	line-height:0.8;
}

.one-item-akcii .you-buy b, .one-item-akcii .you-get b{
	font-size:35px;
	font-weight:bold;
	font-family: OpenSansBold, Arial;
}


.one-item-akcii .img-akcii-main{
	width:100%;
	max-width:220px;
	vertical-align:middle;
	cursor:pointer;
}

.one-item-akcii .how-long{
	margin:0;
	position:relative;
	font-size:15px;
	margin-bottom:6px;
}




.one-item-akcii .how-long-date{
	margin:0;
	font-size:15px;
}

.one-item-akcii .how-long:before{
	content:'';
	display:block;
	width:19px;
	height:19px;
	position:absolute;
	left:-30px;
	background:url(../images/akcii-clock.png);
}

.one-item-akcii .for-hide:before{
		display:none;
}

.one-item-akcii .number{
	margin-bottom:30px;
}

.one-item-akcii .serial-num{
	font-size:13px;
	color:#666;
}

.one-item-akcii .main-info-text{
	font-weight:bold;
}

.one-item-akcii .availability{
	text-align:right;
	color:#009933;
	font-size:13px;
	margin-bottom:30px;

}

.one-item-akcii .avaibility-text{
	border-bottom:1px dotted;
	cursor:pointer;
}

.one-item-akcii .max-price{
	display:table;
	width:100%;
}

.one-item-akcii .max-price-left{
	width:45%;
	float:left;
	display:inline-block;
	text-align:right;
}

.one-item-akcii .max-price-right{
	float:right;
	width:55%;
	display:inline-block;
	font-size:32px;
	font-weight:bold;
	text-align:right;
}

.one-item-akcii .max-price-text{
	width:70px;
	font-size:15px;
	float:right;

}

.one-item-akcii .min-price{
	text-align:right;
	font-size:29px;
	color:#ccc;
    margin-bottom:10px;
}

.one-item-akcii .input-basket{
	width:40px;
	height:38px;
	display:inline-block;
	border:1px solid #ccc;
	float:left;
	border-right:none;

}

.one-item-akcii .basket-buttons{
	width:25px;
	float:left;
	display:inline-block;
}

.one-item-akcii .basket-button{
	width:150px;
	height:40px;
	background-color:#ff9900;
	float:left;
	margin-left:5px;
	line-height:42px;
	text-align:center;
	cursor:pointer;
	float:right;
}

.one-item-akcii .basket-button:hover{
	background-color:#333;
}

.one-item-akcii .button-up, .one-item-akcii .button-down{
	height:20px;
	border:1px solid #ccc;
	box-sizing:border-box;
	cursor:pointer;

}

.one-item-akcii .button-up{
	border-bottom:1px solid #ccc;
	background:url(../images/arrow-up.png) no-repeat center;
}

.one-item-akcii .button-down{
	background:url(../images/arrow-down.png) no-repeat center;

}

.one-item-akcii .button-up:hover{
	background:url(../images/arrow-up-hover.png) no-repeat center;
}

.one-item-akcii .button-down:hover{
		background:url(../images/arrow-down-hover.png) no-repeat center;
}

.one-item-akcii .akcion-input{
	width:100%;
	height:100%;
	box-sizing:border-box;
	text-align:center;
	border:none;
	outline:none;
	color:#000;
}

.one-item-akcii .basket-but-box{
	display:table;
	margin-top:45px;
	width:97%;
	float:right;
}

.one-item-akcii .in_cart{
	color:#fff;

}

.one-item-akcii .img-cart-box, .one-item-akcii .span-cart-box{
	display:inline-block;
	box-sizing:border-box;
	font-size:15px;
}

.one-item-akcii .img-cart-box{
	margin-right:5px;
	position:relative;
	width:30px;
	height:40px;
	float:left;
}

.one-item-akcii .img-but{
	position:absolute;
	top:10px;
	left:20px;
}


/*------------------------------------Adaptive styles----------------*/

@media only screen and (max-width:1270px){
	.one-item-akcii .main-akcii-info{width:400px;}
}

@media only screen and (max-width:1170px){
	.one-item-akcii .main-akcii-info{width:300px;}
}

@media only screen and (max-width:1070px){
	.one-item-akcii .akcii-photo{width:200px;}
}



@media only screen and (max-width:1024px){
	.one-item-akcii{
		height:300px;
	}

    .one-item-akcii .akcii-info{
		display:block;
		width:100%;
		height:60px;
		background:url(../images/mobile-akcii-bg.png)no-repeat right;
		padding:0;
	}

	.one-item-akcii .akcii-info-top{
		display:inline-block;
		width:45%;
		padding:0;
		height:100%;
		padding:13px 10px 5px;
	}

	.one-item-akcii .akcii-info-bottom{
		display:inline-block;
		width:53%;
		padding:0;
		background:none;
		height:100%;
		position:relative;
	}

	.one-item-akcii .you-buy{
		display:inline-block;
		float:left;
		width:113px;
	}

	.one-item-akcii .you-get{
		display:inline-block;
		float:left;
		width:160px;
	}

	.one-item-akcii .present-pic{
		top:4px;
		right:290px;
	}

	.one-item-akcii .time{
		display:inline-block;
		float:right;
		margin-top:18px;
	}

	.one-item-akcii .how-long, .one-item-akcii .how-long-date{
		display:inline-block;
	}

	.one-item-akcii .for-hide{
		display:none;
	}

	.one-item-akcii .main-akcii-info{
		height:240px;
		width:424px;
	}

	.one-item-akcii .akcii-main-price{
		height:240px;
	}
	


}

@media only screen and (max-width:900px){
	.one-item-akcii .main-akcii-info{
		width:324px;
	}
}

@media only screen and (max-width:815px){
	.one-item-akcii .main-akcii-info{
		width:224px;
	}
}

@media only screen and (max-width:700px){
	.one-item-akcii .main-akcii-info{
		width:210px;
	}
}





