
// --------------Media для вида blocks----------------------
@media only screen and(max-width:1260px){
	.blocks{
			float:left;
			width:750px;
		}
}

@media only screen and(max-width:1005px){
	.blocks{
			float:left;
			width:505px;
		}
}

@media only screen and(max-width:765px){
	.blocks{

		width:400px;
		.catalog__product-item{
			width:85%;
		}

		.catalog__item-amount{
			width:72%;
			float:right;
		}

		.catalog__item-image-block{
			margin:0 auto;
		}

		.card-price-block{
			width:100%;
			float:right;
		}

		.card-price-ammount-block{
			width:40%;
		}

		.card-price-span-block{
			width:60%;
		}
	}
}

@media only screen and(max-width:690px){
		.left__block{
			display:none;
		}

	.blocks{
		width:100%;
		.catalog__product-item{
			display:block;
			float:none;
			width:75%;
			margin:0 auto 19px;
			padding-bottom:25px;
		}

		.catalog__item-amount{
			width:210px;
			float:right;
		}

		.catalog__item-compaire{
			float:none;
			display:block;
			text-align:left;
		}

		.card-price-block{
			width:100%;
			float:right;
		}

		.card-price-span-block{
			width:70%
		}
		

		.card-price-ammount-block{
			width:30%;
		}

		.card-price-span-block{
			width:70%
		}

	}
}

@media only screen and(max-width:575px){
		.blocks{
		.catalog__item-compaire{
			display:block;
			text-align:right;
			float:none;
		}

		.card-price-ammount-block{
			width:35%;
		}

		.card-price-span-block{
			width:65%
		}
	}
}

@media only screen and(max-width:490px){
	.blocks{

		.card-price-span-block{
			width:60%
		}
		.card-price-ammount-block{
			width:40%;
		}
	}
}

@media only screen and(max-width:440px){
	.blocks{

		.card-price-span-block{
			width:50%
		}
		.card-price-ammount-block{
			width:50%;
		}
	}
}

@media only screen and(max-width:400px){
	.blocks{

		.card-price-span-block{
			width:40%
		}
		.card-price-ammount-block{
			width:60%;
		}
	}
}


//-------------------Media для вида rows------------------





@media only screen and(max-width:1265px){
	.rows{
		width:800px;

		.catalog__item-title{
			width:280px;
		}
	}
}


@media only screen and(max-width:1065px){
	.rows{
		width:565px;
		.special__conditions-block{
			display:none;
		}

		.link-title{
			margin:0;
			height:auto;
		}

		.catalog__item-title{
			height:auto;
			float:right;
		}

		.catalog__item-price{
			height:auto;
		}

		.catalog__product-item{
			width:560px
		}

		.catalog__item-title{
			margin:0;
			text-align:right;
		}

		.time{
			left:42%;
		}

		.item{
			margin-bottom:15px;
		}
	}
}

@media only screen and(max-width:865px){
	.rows{

		width:470px;
		.catalog__product-item{
			width:280px;
		}

		.catalog__item-image-block{
			width:100%;
		}
	}
}

@media only screen and(max-width:865px){
	.rows{

		width:410px;
	}
}

@media only screen and(max-width:690px){
	.rows{
		width:100%;
		text-align:center;
		.catalog__product-item{
			width:55%;
			margin:0 auto;
			margin-bottom:19px;
		}

	}
}