.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-aarow-up2 {
    width: 13px;
    height: 5px;
    background-position: -5px -5px;
}

.sprite-arrow-down2 {
    width: 13px;
    height: 5px;
    background-position: -28px -5px;
}

.sprite-arrow-left {
    width: 6px;
    height: 12px;
    background-position: -51px -5px;
}

.sprite-arrow-right {
    width: 6px;
    height: 12px;
    background-position: -67px -5px;
}

.sprite-black {
    width: 26px;
    height: 24px;
    background-position: -83px -5px;
}

.sprite-box2 {
    width: 19px;
    height: 25px;
    background-position: -5px -39px;
}

.sprite-car {
    width: 32px;
    height: 23px;
    background-position: -34px -39px;
}

.sprite-car2 {
    width: 33px;
    height: 23px;
    background-position: -76px -39px;
}

.sprite-car3 {
    width: 26px;
    height: 25px;
    background-position: -34px -72px;
}

.sprite-car4 {
    width: 33px;
    height: 23px;
    background-position: -70px -72px;
}

.sprite-car5 {
    width: 34px;
    height: 23px;
    background-position: -70px -105px;
}

.sprite-cart {
    width: 20px;
    height: 20px;
    background-position: -113px -72px;
}

.sprite-lift {
    width: 26px;
    height: 23px;
    background-position: -119px -5px;
}

.sprite-lift2 {
    width: 27px;
    height: 23px;
    background-position: -119px -38px;
}

.sprite-man {
    width: 22px;
    height: 21px;
    background-position: -143px -71px;
}

.sprite-plus {
    width: 20px;
    height: 20px;
    background-position: -114px -102px;
}

.sprite-red {
    width: 26px;
    height: 24px;
    background-position: -144px -102px;
}

.sprite-saw {
    width: 26px;
    height: 21px;
    background-position: -5px -136px;
}

.sprite-telega {
    width: 27px;
    height: 21px;
    background-position: -114px -136px;
}
