*{
	margin:0;
	padding:0;
}

.rub{
	font-family: 'als_rublregular';
	font-style:normal;
}

.compaire-span{
	font-size:14px;
}

.card-price-span{
	width:65px;
	display:inline-block;
}

a{
	text-decoration:none;
}

.container{
	max-width:1250px;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
}

.petro{
	position:absolute;
	background:url(../images/petro.svg);
	width:75px;
	height:50px;
	top:2px;

}

.header-test{
	background-color:#333;
	height:150px;
	margin:30px 0;
}

.left__block{
	width:238px;
	height:1000px;
	border:1px solid black;
	float:left;
	background:#333;
}

.right__block{
	width:1000px;
	display:table;
	float:left;
    box-sizing: border-box;
    padding-left: 6px;
}

.basket-button-span{
	font-size:14px;
	color:#fff;
}

.item{
	text-align:right;
	font-size:13px;
}


/*--------------------------Blocks-----------------------------*/

.blocks{
	.catalog__product-item{
		width:240px;
		border: 1px solid #ccc;
		display:inline-block;
		float:left;
		margin:0 8px 10px 0;;
		padding: 10px 10px 18px 10px;
		box-sizing:border-box;
		min-width:240px;
		position:relative;
	}

	.avalability_and_number{
		display:table;
		width:100%;
		margin-bottom:10px;
	}

	.number, .availability{
		width:50%;
		box-sizing:border-box;
		float:left;
		display:inline-block;
	}

	.availability{
		text-align:right;
	}

	.number-row{
		display:none;
	}

	.number-span{
		color:#666;
		font-size:12px;
	}

	.availability-link{
		color:#009933;
		border-bottom: 1px dotted #009933;
    	text-decoration: none;	
    	font-size:14px;
	}

	.catalog__item-title{
		margin-bottom:20px;
	}

	.catalog__item-image-block{
		width:220px;
		height:220px;
		margin-bottom:10px;
		position:relative;
		text-align:center;
		display:table;

	}

	.time{
		width:47px;
		height:29px;
		background:url(../images/sticker_time-h.svg);
		position:absolute;
		right:0px;
		top:10%;
		z-index:1;
	}

	.new{
		width:77px;
		height:34px;
		background:url(../images/sticker_new.svg);
		position:absolute;
		top:170px;

	}

	.catalog__item-image{
		max-width:100%;
		max-height:100%;
	}

	.item-title-link{
		font-size:14px;
		font-weight:bold;
		color:#000;
		line-height:0.8;

		&:hover{
			text-decoration: underline;
		}
	}

	.catalog__item-price{
		display:table;
		width:100%;
		margin-bottom:15px;
	}

	.card-price-span-block, .full-price-block{
		display:table;
		width:100%;
	}

	.card-price-span-block, .card-price-ammount-block, .full-price-span-block{
		display:inline-block;
		box-sizing:border-box;
		text-align:right;
	}

	.card-price-span-block{
		width: 45%
	}

	.card-price-ammount-block{
		width:55%;
	}

	.sprite-cart {
	    margin:0 14px -3px 4px;
	}

	.sprite-plus {
	    margin-bottom:-5px;
	    margin-left:10px;
	}


	.card-price-span-block, .card-price-ammount-block{
		float:left;
	}

	.card-price-span-block{
		box-sizing:border-box;
		font-size:15px;
	}

	.full-price-span-block{
		float:right;
	}

	.card-price-ammount{
		font-weight:bold;
		font-size:30px;
	}

	.img-link{
		display:table-cell;
		width:100%;
		height:100%;
		vertical-align: middle;
	}

	.full-price-span{
		color:#a7a7a7;
		font-size:28px;
	}

	.ammount-step-block{
		display:inline-block;
		float:left;
		border:1px solid #ccc;
		height:35px;
		width:40px;
		box-sizing:border-box;

	}

	.catalog__item-amount{
		display:table;
		width:100%;
		margin-bottom:5px;
	}

	.ammount-step{
		width:100%;
		height:100%;
		border:none;
		color:#000;
		text-align:center;
    	box-sizing: border-box;
    	font-size:13px;
	}

	.ammount-step-change-block{
		width:25px;
		height:35px;
		box-sizing:border-box;
		display:inline-block;
		float:left;
	}

	.basket-button{
		height:35px;
		box-sizing:border-box;
		width:69%;
		float:right;
		display:inline-block;
		background-color:#ff9900;
		padding:0 5px;
		line-height:35px;
	     -webkit-transition: all 0.3s;
	     -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	     transition: all 0.3s;

		&:hover{
			background-color:#333;

		}
	}

	.ammount-step-plus, .ammount-step-minus{
		box-sizing:border-box;
		border:1px solid #ccc;
		height:50%;
		border-left:none;
		text-align:center;
		line-height:12px;

		&:hover{
			background-color:#ccc;
		}
	}

	.ammount-step-plus{
		border-bottom:none;
	}

	.compaire-link{
		display:inline-block;
		color:#000;
		font-size:14px;
	}

	.catalog__item-compaire{
		text-align:right;
		display:inline-block;
		float:right;

	}

	.compaire-span{
		font-size:14px;
		&:hover{
			border-bottom:1px dotted black;
		}
	}

	.row-block{
		display:none;
	}

	.special__conditions-block{
		display:none;
	}

	.link-title{
		height:75px;
		overflow:hidden;
	}
}


// --------------Строчный вид ---------------------------------------------


.rows{
	.catalog__product-item{
		width:100%;
		height:240px;
		display:table;
		border:1px solid #ccc;
		padding: 10px 10px 10px 10px;
		box-sizing:border-box;
		margin-bottom:18px;
		position:relative;
	}

	.catalog__item-image-block{
		float:left;
		box-sizing:border-box;
		margin-right:10px;
		height:220px;
		width:220px;
		display:table;
		text-align:center;
		position:relative;
	}

	.avalability_and_number{
		display:none;
	}

	.catalog__item-title{
		display:inline-block;
		float:left;
		height:220px;
		width:400px;
		margin-right:20px;
	}

	.item-title-link{
		font-size:16px;
		font-weight:bold;
		color:#000;
		line-height:0.8;
		text-overflow: ellipsis;

		&:hover{
			text-decoration: underline;
		}


	}

	.catalog__item-image{
		max-width:100%;
		max-height:100%;
	}

	.catalog__item-price{
		display:inline-block;
		height:110px;
		float:right;
		width:100%;
	}

	.card-price-block{
		display:table;
		float:right;
		width:100%;
	}



	.card-price-ammount-block{
		float:left;
		width:55%;
		text-align:right;
	}

	.card-price-span-block{
		box-sizing:border-box;
		font-size:15px;
		width:45%;
		text-align:right;
		float:left;

	}

	.full-price-span-block{
		float:right;
	}

	.card-price-ammount{
		font-weight:bold;
		font-size:30px;
	}

	.img-link{
		display:table-cell;
		vertical-align:middle;
	}

	.full-price-span{
		color:#a7a7a7;
		font-size:28px;
	}

	.ammount-step-block{
		display:inline-block;
		float:left;
		border:1px solid #ccc;
		height:35px;
		width:40px;
		box-sizing:border-box;

	}

	.full-price-block{
		display:table;
		width:100%;
	}

	.catalog__item-amount{
		display:inline-block;
		width:210px;
		margin-bottom:10px;
		float:right;
	}

	.ammount-step{
		width:100%;
		height:100%;
		border:none;
		color:#000;
		text-align:center;
    	box-sizing: border-box;
    	font-size:13px;
	}

	.ammount-step-change-block{
		width:25px;
		height:35px;
		box-sizing:border-box;
		display:inline-block;
		float:left;
	}

	.basket-button{
		height:35px;
		box-sizing:border-box;
		width:65%;
		float:right;
		display:inline-block;
		background-color:#ff9900;
		padding:0 5px;
		text-align:center;
		line-height:35px;
	     -webkit-transition: all 0.3s;
	     -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	     transition: all 0.3s;

		&:hover{
			background-color:#333;

		}
	}

	.compaire-link{
		color:#000;
	}

	.ammount-step-plus, .ammount-step-minus{
		box-sizing:border-box;
		border:1px solid #ccc;
		height:50%;
		border-left:none;
		text-align:center;
		line-height:12px;

		&:hover{
			background-color:#ccc;
		}
	}

	.link-title{
		height:126px;
		box-sizing:border-box;
		padding-bottom:10px;
		margin-bottom:25px;
		overflow:hidden;
		padding-top:15px;
	}

	.ammount-step-plus{
		border-bottom:none;
	}

	.catalog__item-compaire{
		text-align:right;
		display:table;
		float:right;

	}

	.sprite-plus{
		margin-left:10px;
		margin-bottom:-5px;
	}

	.sprite-cart{
		margin-bottom:-4px;
		margin-right:10px;
	}
	
	.ic{
		margin-right:5px;
	}
	.number-row{
		display:block;
	}
	.number-span{
		color:#666;
		font-size:12px;
	}

	.availability{
		text-align:right;
		margin-bottom:15px;
	}

	.availability-row{
		text-align:right;
		display:table;
		width:100%;
	}
	.availability-link{
		color:#009933;
		border-bottom: 1px dotted #009933;
    	text-decoration: none;	
    	font-size:14px;
	}

	.block-block{
		display:none;
	}

	.row-block{
		display:table;
		width:230px;
		float:right;
	}

	.special__conditions-block{
		width:270px;
		height:50px;
	}

	.special_conditions{
		border-right:1px solid #ccc;
	}

	.special_conditions, .additional_conditions{
		width:50%;
		display:table;
		float:left;
		box-sizing:border-box;
		padding-left:10px;
	}

	.specials{
		text-align:left;
		color:#000;
		font-size:14px;
		margin-bottom:5px;
	}

	.special_conditions .specials{
		color:red;
	}

	.special__items{
		height:25px;
		overflow:hidden;
	}
	
	.time{
		width:47px;
		height:29px;
		background:url(../images/sticker_time-h.svg);
		position:absolute;
		-moz-transform: rotate(270deg); /* Для Firefox */
	    -ms-transform: rotate(270deg); /* Для IE */
	    -webkit-transform: rotate(270deg); /* Для Safari, Chrome, iOS */
	    -o-transform: rotate(270deg); /* Для Opera */
	    transform: rotate(270deg);
	    z-index:1;
	    left:70%;
	    top:8px;

	}

	.new{
		width:77px;
		height:34px;
		background:url(../images/sticker_new.svg);
		position:absolute;
		top:160px;
	}



}
