@media only screen and (max-width : 1150px){
	.complain__form-box{
		width:70%;
	}
}

@media only screen and (max-width : 950px){
.complaint-textarea{
	width:295px;
	}

.complaint-antibot-span{
	font: 400 11px Tahoma, Geneva, sans-serif;
	}	

	.input-error{
		right:20px;
	}

}

@media only screen and (max-width : 790px){
	
	.complaint-label-box{
		width:150px;
	}

	.ta-box{
		line-height:1;
	}

	.required-ta :after{
		top:-5px;
	}

	.complain__form-box{
		width:65%;
	}

	.complaint__input-text{
		width:250px;
	}

	.complaint-textarea{
		width:244px;
	}

	.complaint-antibot-box{
		width:100px;
		font-size:13px;
	}

	.input-error{
		right:20px;
		top:20px;
	}

}

@media only screen and (max-width : 710px){
	
	.complaint-label-box{
		width:auto;
		text-align:left;
	}

	.complaint-input-box{
		float:none;
	}

	.ta-box{
		height:auto;
	}

	.antibot-span-box{
		float:none;
		display:block;
		text-align:center;

	}

	.complaint-antibot-box{
		display:table;
		float:none;
		margin:0 auto;

	}

	.complain__form-box{
		width:55%;
	}

		.input-error{
		right:20px;
		top:40px;
	}
}