*{
    margin: 0;
    padding: 0;
}
/*левый блок для теста адаптивности*/

.left-test-block{
	width:215px;
	display:inline-block;
	float:left;
	border:1px solid black;
}

/*Форма*/

.complaint__title-text{
	font:400 1rem Tahoma, Geneva, sans-serif;
	font-weight:bold;
	max-width:960px;
	margin: 0 auto 25px;
}

.complain__form-block{
	max-width:960px;
	margin:auto;
}


.complain__form-box{
	display:inline-block;
	float:right;
	margin:auto;
	width:80%;
}
.complaint__inner-box{
	text-align:right;
	padding:5px 10px;
	display:table;
	position:relative;
}

.complaint-input-box{
	float:right;
}
.complaint__input-text{
	height:30px;
	width:300px;
	padding:3px 10px;
	box-sizing:border-box;
	border:1px solid #a9a9a9;
}

.complaint-label{
	color:#666;
	font: 400 14px Tahoma, Geneva, sans-serif;
}

.complaint-paragraph{
	font-weight:bold;
	font-size:19px;
	color:#666;
	font: Tahoma, Geneva, sans-serif;
}

.complaint__inner-box-textarea{
	text-align:right;
	padding:5px 10px;
	display:table;
	position:relative;
}

.complaint-textarea{
	width:400px;
}

.complaint-label-box{
	display:inline-block;
	float:left;
	text-align:right;
	width:190px;
	height:30px;
	line-height:30px;
	margin-right:10px;
	position:relative;
}

.required :after{
	content: "\2217";
	position:absolute;
	right:-10px;
	color:red;
}

.required-ta :after{
	content: "\2217";
	position:absolute;
	right:-10px;
	top:60px;
	color:red;
}

.required :before{
	content:'- обязательное поле';
	color:red;
	position:absolute;
	right:-450px;
	top:5px;
	display:none;
}

.required-ta :before{
	content:'- обязательное поле';
	color:red;
	position:absolute;
	right:-550px;
	top:60px;	
	display:none;
}

.ta-box{
	height:156px;
	line-height:156px;
}

.ta-input-box{
	text-align:left;
}

.complaint__input-file{
	display:block;
}

.input__file-label-box{
	height:60px;
	line-height:60px;
}

.complaint__antibot-box{
	margin:25px auto;

}

.antibot-span-box{
	float:left;
	display:inline-block;
	text-align:right;	
}

.complaint-antibot-box{
	display:inline-block;
	float:right;
	width:140px;
	height:20px;
	border:1px solid black;
	background-color:red;
	margin-left:10px;
	color:red;
	text-align:center;
	cursor: pointer;

}

.complaint__form-submit{
	margin: 0 auto;
	width:120px;
	height:35px;
	text-align:center;
	color:#fff;
	background: -moz-linear-gradient(263deg, rgba(113,129,148,1) 0%, rgba(67,67,67,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(113,129,148,1)), color-stop(100%, rgba(67,67,67,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(263deg, rgba(113,129,148,1) 0%, rgba(67,67,67,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(263deg, rgba(113,129,148,1) 0%, rgba(67,67,67,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(263deg, rgba(113,129,148,1) 0%, rgba(67,67,67,1) 100%); /* ie10+ */
	background: linear-gradient(187deg, rgba(113,129,148,1) 0%, rgba(67,67,67,1) 100%); /* w3c */
	border:none;
	border-radius:4px;
	margin: 0 auto;
	display:block;
	padding:10px 20px;
    outline: none;
    cursor: pointer;
}




.antibot-box-white{
	background-color:#fff;
}

.input-error{
	color:red;
	position:absolute;
	right:-140px;
	top:8px;

}

.complaint-antibot-span{
	font: 400 14px Tahoma, Geneva, sans-serif;
}











